body { 
  margin:0; 
  padding:0; 
  -webkit-font-smoothing:antialiased;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

#map { 
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%; 
}

.pad2 {
  padding:20px;
}
.pad3 {
  padding-left:20%;
  padding-right:20%;
}

h1 {
  font-size:22px;
  margin:0;
  font-weight:400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color:#404040;
  text-decoration:none;
}

a:hover { 
  color:#101010; 
}

.heading {
  background:#fff;
  border-bottom:1px solid #eee;
  min-height:60px;
  line-height:60px;
  padding:0 10px;
}

.infoToggle {
  background:rgba(0,0,0,0);
  position:absolute;
  top:10px;left:10px;
  z-index:1;
  border-radius:3px;
  max-width:60px;
}

.marker {
  border: none;
  cursor: pointer;
  height: 36px;
  width: 36px;
  background-image: url(img/water-15.svg);
}

.clearfix { display:block; }
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

/* Marker tweaks */
.mapboxgl-popup {
  padding-bottom: 30px;
}

.mapboxgl-popup-close-button {
  display:none;
}
.mapboxgl-popup-content {
  font:400 15px/22px 'Didact Gothic', sans-serif;
  padding:40px0;
  min-width:180px;
  max-width:250px;
  border-bottom: 1px solid #fff;
  text-align:center;
}
.mapboxgl-popup-content-wrapper {
  padding:1%;
}
.mapboxgl-popup-content h3 {
  background:#587EC1;
  color:#fff;
  margin:0;
  display:block;
  padding:10px;
  border-radius:3px 3px 0 0;
  font-weight:700;
  margin-top:-15px;
}

.mapboxgl-popup-content h4 {
  margin:0;
  display:block;
  padding: 10px 10px 10px 10px;
  font-weight:400;
  margin: 0;
}

.mapboxgl-popup-content div {
  padding:10px;
  text-align:center;
}

.mapboxgl-container .leaflet-marker-icon { 
  cursor:pointer; 
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #587EC1;
}
